html, body {
    font-size: 1em;
	font-family: Georgia, serif;
    height: 100%;
    margin: 0;
    background-color: #f6f6f6;
}

@media only screen and (min-Width: 1200px){
    .logo{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }
    
    .logo b{
        font-size: 2em;
    }
    .center {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }
    .menu {
        width: 60%;
        margin-top: 5%;
        padding-left: 80px;
        padding-right: 80px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .menu-items {
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .menu-item {
        margin: 25px;
    }
    
    .home{
        width: 60%;
        height: auto;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
        padding: 80px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .home-about{
        width: 60%;
        height: auto;
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .home-text{
        width: 500px;
        margin-left: 10%;
        line-height: 1.5;
    }
    .home-name{
        font-size: 2em;
        justify-content: center;
    }
    
    .home-pictures{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .home-pictures .project-picture{
        padding-right: 50px;
        padding-bottom: 50px;
    }
    
    .about-text{
        margin-top: 50px;
        width: 100%;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-desc{
        width: 850px;
        line-height: 1.5;
    }
    .about-name{
        font-size: 2em;
        align-items: center;
    }
    
    .about-name-tedi{
        font-size: 0.7em;
    }
    
    .project{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
        padding: 80px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .pictures{
        display: flex;
        justify-content: center;
    }
    
    .project-picture{
        margin-left: 25px;
    }
    
    .text{
        display: flex;
        width: 780px;
    }
    
    .project-name{
        text-align: center;
        font-size: 1.8em;
    }
    .project-text{
        line-height: 1.5;
    }
    
    .research-picture{
        margin-right: 25px;
    }
    
}
@media only screen and (max-width:1760px){
    .project-picture img{
        height: 240px;
    }
}

@media only screen and (max-width:1200px){

    .logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 25px;
    }
    
    .logo b{
        font-size: 2em;
        margin-top: 2%;
    }
    .center {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }
    .menu {
        width: 90%;
        background-color: white;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .menu-items {
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu-item{
        margin: 20px;
    }
    
    .home{
        width: 90%;
        padding-bottom: 5%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .home-about{
        width: 90%;
        height: auto;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 5%;
    }
    
    .home-text{
        margin-top: 5%;
        width: 320px;
        line-height: 1.5;
    }
    .home-name{
        font-size: 2em;
        justify-content: center;
    }
    
    .home-picture{
        margin-top: 10%;
    }

    .home-picture img{
        height: 250px;
    }

    .home-pictures{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home-pictures .project-picture{
        
        align-items: center;
        justify-content: center;
    }

    .home-pictures .project-picture img{
        width: auto;
        height: 250px;
    }
    
    .about-text{
        width: 100%;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .about-desc{
        width: 85%;
        line-height: 1.5;
    }
    .about-name{
        width: 100%;
        font-size: 2em;
        text-align: center;
    }
    
    .project{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
        padding-bottom: 5%;
        padding-top: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
    
    .pictures{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    
    .project-picture img{
        width: 100px;
        height: auto;
        margin: 5px;
    }
    
    
    .text{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .project-name{
        text-align: center;
        font-size: 1.8em;
        width: 100%;
    }
    .project-text{
        line-height: 1.5;
        align-items: center;
        width: 90%;
    }
    
    .research-picture img{
        justify-content: center;
        align-items: center;
        width: auto;
        height: 120px;
    }

}